.announcement-bar {
  background-color: $color-secondary;
  color: $color-primary;
  height: $announcement-bar-height;
  @include flex-center;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include respond-to('md') {
    font-size: $font-size-sm;
  }
}
